Book/_build
Book/.DS_Store
Book/L02-GravityField/.DS_Store
Book/L04andL05-Polytropes/.DS_Store
Book/L06-MeanMolecularWeight/.DS_Store
Book/L07andL08-Saha/.DS_Store
Book/L09-MeanFreePath/.DS_Store
Book/L10-Absorption/.DS_Store
Book/L11-SourceFunction/.DS_Store
